{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Main</title>
    <style>
        .container {
        width: 50% ;
        margin-left: auto ;
        margin-right: auto ;
        padding-top: 10%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js'></script>
</head>

<body>
    <div class="container">
        <canvas id="chartBirthPerYear">

        </canvas>
        <input class="form-control" type="number" id="lowerYear">
        <input class="form-control" type="number" id="upperYear">
        <button onclick="updateChart()">Click me</button>
    </div>

<script>
    var dicAggregation = {{aggregation|safe}};
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
